body {
    margin: 0;
    padding: 0;
}
/*navbar*/
.navbar {
    background-color: #720026;
    color: white;
    padding-left: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin: 4px;
}

.brand-name {
    font-style: italic;
    font-size: 18px;
    color: white; 
}

.nav-link {
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid #4F000B;
}

.vertical-line {
    border-left: 1px solid white;
    height: 40px;
    margin: 0 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    margin-left: 60%;
}

.navbar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav li {
    margin: 0 15px;
}

.dropdown-menu {
    background-color: #720026;
}

.dropdown-item {
    color: white;
    border-bottom: 1px solid #4F000B;
}

/* Center the collapsed menu */
@media (max-width: 992px) {
    .navbar-collapse {
        display: flex;
        justify-content: center;
    }
}

/* main */

.main-height {
    min-height: 71vh;
}

/* footer */

.container-footer {
    padding: 0px;
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: #FF7F51;
}

.footer p {
    color: #fff;
}

.footer-top {
    padding: 20px;
    text-align: left;
}

.footer-bottom {
    background-color: #720026e0;
    padding: 4px;
    text-align: center;
}

.box {
    background-color: #FF9B54;
    color: white;
    text-align: center;
    border-radius: 50%;
    padding: 20px;
}

.sw-box {
    width:fit-content;
}

.box p {
    margin: 10px 0;
}

.newsletter-text {
    color: white;
    margin: 10px 0;
}

.email-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.subscribe-button {
    background-color: #FF9B54;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
}

.fa-brands {
    color: #fff;
    padding: 2px;
    font-size: 3vh;
}

@media (max-width: 767px) {
    .footer-bottom .col-sm-4 {
        margin-bottom: 10px;
    }
}