{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Sanler Wine</title>
    
  </head>
  <body>
 
    <!-- The navbar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
          <span class="brand-name">SW - sanler wine</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#">Vårt Sortiment</a>
              </li>
                <div class="vertical-line"></div>
              <li class="nav-item">
                  <a class="nav-link" href="#">Om Oss</a>
              </li>
                <div class="vertical-line"></div>
              <li class="nav-item">
                  <a class="nav-link" href="#">Producenter</a>
              </li>
          </ul>
      </div>
  </nav>


  <!-- The header -->
    <header>

       

    </header>

    <main class="flex-shrink-0 main-bg main-height">
      {% block content %}
      <!-- Content -->
      {% endblock content %}
    </main>

  <!-- The footer -->
  <div class="container-fluid container-footer">
    <div class="footer">
        <div class="footer-bottom">
        </div>
        <div class="footer-top">
            <div class="row">
                <div class="col-md-4">
                    <div class="sw-box">
                    <div class="box">
                        <p>SW</p>
                    </div>
                </div>
                    <p>Champagne or die</p>
                </div>
                <div class="col-md-4">
                    <p class="newsletter-text">Longing for our newsletters?</p>
                    <input type="email" class="email-input" placeholder="Enter your email">
                    <button class="subscribe-button">Subscribe</button>
                </div>
                <div class="col-md-4">
                    <p>Follow us</p>
                    <a href="https://www.instagram.com/sanler_wine/" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/sanlerwine.se" target="_blank" rel="noopener"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        </div>
    </div>
</div>
<!--font awesome script-->

<script src="https://kit.fontawesome.com/f90f0f7add.js" crossorigin="anonymous"></script>

  </body> 

</html>

